<html>

	<head>
		<title>Money Monkey</title>
		<!-- <link href="style.css" rel="stylesheet"> -->
		<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  		<link href="vuetify.min.css" rel="stylesheet">
	</head>

	<body>

		<div v-cloak id="app" class="container">

			{{ message }}

			<h2>Expenses</h2>

		<div class="row">

		<form @submit.prevent>

			<input ref="descriptionRef" v-model="description" type="text" placeholder="Description">

			<input ref="amountRef" v-model="amount" type="text" placeholder="Amount">

			<input v-model="quantity" type="number" placeholder="Quantity" min="1" max="99">

			<div v-cloak class="error" v-if="!valid.description">
				<b>Enter a valid description</b>
			</div>

			<div v-cloak class="error" v-if="!valid.amount">
				<b>Enter a valid amount</b>
			</div>

		<button @click="saveExpense">Save Item</button>
		<button @click="clear">Clear</button>

		</form>

		<div id="total-wrapper">
			<h2>Total Expenses<h2><span id="total">${{ total }}</span></h2>
		</div>

		</div>

		<div id="expenses" v-if="expenses.length">

			<table>
				<tr>
					<th>Description</th>
					<th>Amount</th>
					<th>Quantity</th>
					<th>Date</th>
					<th>Actions</th>
				</tr>
				<tr v-for="expense in expenses">
					<td>
						{{ expense.description }}
					</td>
					<td>
						${{ expense.amount.toLocaleString() }}
					</td>
					<td>
						{{ expense.quantity }}
					</td>
					<td>
						{{ expense.date }}
					</td>
					<td>
						<button @click="setEditingId(expense._id)">Edit</button>
						<button class="delete" @click="deleteExpense(expense._id)">Delete</button>
					</td>
				</tr>
			</table>

		</div>

		</div>

		<script src="vue.js"></script>
		<script src="vuetify.js"></script>
		<script src="moment.js"></script>


		<script src="data.js" type="module"></script>
		<script src="main.js" type="module"></script>
		<script src="api.js" type="module"></script>
		

	</body>

</html>